<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/common/base.css">
</head>
<body>
    <div class="container" ng-app="reporterView">
        <div class="row">
            <div class="col-lg-9 col-xs-12">
                <div class="page-header">
                    <h1>Quantified Self Companion</h1>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12">
                <ul class="nav nav-pills page-header">
                    <li><a href="/upload">Upload</a></li>
                    <li><a class="active" href="/home">Home</a></li>
                    <li><a href="/signout">Sign Out</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div ng-view ng-cloak></div>
    </div>
    <script src="/static/vendor/angular/angular.min.js"></script>
    <script src="/static/vendor/angular-route/angular-route.min.js"></script>
    <script src="/static/vendor/lodash/dist/lodash.min.js"></script>
    <script src="/static/js/reports/modules/reporter_view.js"></script>
    <script src="/static/js/reports/services/summaryService.js"></script>
    <script src="/static/js/reports/services/contextService.js"></script>
    <script src="/static/js/reports/controllers/SummaryController.js"></script>
    <script src="/static/js/reports/controllers/ContextSearchController.js"></script>
    <script src="/static/js/reports/directives/number_tile.js"></script>
</body>
</html>
