{% extends 'base.html' %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-3 col-lg-offset-2">
        <form action="/signup" method="POST">{% csrf_token %}
            <input class="form-control" type="text" name="email" placeholder="Email">
            <br>
            <input class="form-control" type="password" name="password" placeholder="Password">
            <br>
            <input class="form-control" type="password" name="passwordconf" placeholder="Password Confirmation">
            <br>
            <input style="width:100%" class="btn btn-primary" type="submit" value="Create Account">
        </form>
    </div>
    <div class="col-lg-3 col-lg-offset-2">
        <form action="/login" method="POST">{% csrf_token %}
            <input class="form-control" type="text" name="email" placeholder="Email">
            <br>
            <input class="form-control" type="password" name="password" placeholder="Password">
            <br>
            <input style="width:100%" class="btn btn-success" type="submit" value="Login">
        </form>
    </div>
</div>
{% endblock %}
