{% extends 'base.html' %}

{% block body %}
<br>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 center">
        <h1>Reporter View Companion</h1>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <p>
            The goal of this project is to bring all of the data gathered by
            <a href="http://www.reporter-app.com/" target="blank">Reporter</a>
            for reflection and analysis.
        </p>
        <p>To see an example of what this does visit <a href="http://www.sambev.com" target="blank">sambev.com</a>.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <p>Contributions are deeply appreciated. Fork the project on <a href="github.com">GitHub</a>.</p>
        <p>
            As you might have noticed, I am no designer. Any design contributions are more than welcome
            as well.  If you have some improvements, but don't code, just contact me.
        </p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="alert alert-danger" role="alert">
            <p class="center">***DISCLAIMER***</p>
            <p>
                Before creating an account and uploading data, understand
                that this is a passion project supported by myself and done in my
                spare time. While I try to make security conscious decisions,
                I simply cannot gaurantee the safety of your data uploaded through
                this domain. If you have noticed a security issue, please contact me.
            </p>
            <p class="center">UPLOAD AT YOUR OWN RISK</p>
        </div>
        <div class="alert alert-info" role="alert">
            <p>
                If you have sensitive data but would still want to use the product.
                You can always download the code from <a href="">GitHub</a>, follow
                the install instructions and run the application locally on your machine.
                If you have problems getting it running please use the <a href="">issue tracking page</a>
                and I'll try to help where I can.
            </p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-lg-3 col-lg-offset-2">
        <form action="/signup" method="POST">{% csrf_token %}
            <input class="form-control" type="text" name="email" placeholder="Email">
            <br>
            <input class="form-control" type="password" name="password" placeholder="Password">
            <br>
            <input class="form-control" type="password" name="passwordconf" placeholder="Password Confirmation">
            <br>
            <input style="width:100%" class="btn btn-primary" type="submit" value="Create Account">
        </form>
    </div>

    <div class="col-lg-3 col-lg-offset-2">
        <form action="/login" method="POST">{% csrf_token %}
            <input class="form-control" type="text" name="email" placeholder="Email">
            <br>
            <input class="form-control" type="password" name="password" placeholder="Password">
            <br>
            <input style="width:100%" class="btn btn-success" type="submit" value="Login">
        </form>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}
