<div ng-controller="SummaryController">
    <div class="row">
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.reports }}</p>
                <small>Reports</small>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.days }}</p>
                <small>Days</small>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.avg_per_day }}</p>
                <small>Avg/Day</small>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.tokens }}</p>
                <small>Tokens</small>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.locations }}</p>
                <small>Locations</small>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.people }}</p>
                <small>People</small>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="numeric in numerics">
            <div class="col-lg-3 col-xs-6">
                <rd-number-tile
                    title="numeric.question"
                    low="numeric.min"
                    avg="numeric.avg"
                    high="numeric.max"
                    current="numeric.current"
                    type="'primary'">
                </rd-number-tile>
            </div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="token in tokens">
            <div class="col-lg-4 col-xs-6">
                <div class="panel panel-success">
                    <div class="panel-heading center">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="panel-title" style="padding-top:5px;">
                                    {{ token.question }}
                                </h3>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text"
                                    class="input-sm"
                                    placeholder="Filter"
                                    style="width:100%"
                                    ng-model="index" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-body token-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ol>
                                    <li ng-repeat="entry in token.data | filter:index">
                                        <a href="/reports/people/context/{{ entry[0] }}">
                                            {{ entry[0] }} - {{ entry[1] }}
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
