<div class="row">
    <div ng-controller="SummaryController">
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.reports }}</p>
                <small>Reports</small>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.days }}</p>
                <small>Days</small>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.avg_per_day }}</p>
                <small>Avg/Day</small>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.tokens }}</p>
                <small>Tokens</small>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.locations }}</p>
                <small>Locations</small>
            </div>
        </div>
        <div class="col-lg-2 col-xs-4">
            <div class="well center">
                <p class="report-title">{{ totals.people }}</p>
                <small>People</small>
            </div>
        </div>
    </div>
</div>
<br>
